{% load i18n %}{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改模块</title>

    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static "css/font.css" %}">
    <link rel="stylesheet" href="{% static "css/xadmin.css" %}">

    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "lib/layui/layui.js" %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static "js/xadmin.js" %}"></script>
</head>

<body>
    <div class="x-body">
        <form class="layui-form" method="POST" action="" id="entry">
		 {% csrf_token %}
          <div class="layui-form-item">
              <label for="modelname" class="layui-form-label">
                  <span class="x-red">*</span>模块名
              </label>
              <div class="layui-input-inline">
                  <input type="text" name="modelname"  value="{{models.model_list.0.model_name}}"  class="layui-input">
              </div> 
          </div> 
          <div class="layui-form-item">
              <label for="modelurl" class="layui-form-label">
                  <span class="x-red">*</span>模块地址
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="modelurl" name="modelurl" value="{{models.model_list.0.model_url}}" required lay-verify="modelurl"
                  autocomplete="off" class="layui-input">
              </div> 
          </div> 
		  
          <div class="layui-form-item">
		        <label for="L_repass" class="layui-form-label"></label>
                <button class="layui-btn" type="submit" onclick="formSubmit()" >保存</button>
          </div>
      </form>
    </div>
  </body>
<script type="text/javascript">
	function formSubmit() {
		document.getElementById("entry").submit()
	}
</script>
</html>
