{% load i18n %}{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新建菜单</title>

    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static "css/font.css" %}">
    <link rel="stylesheet" href="{% static "css/xadmin.css" %}">

    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "lib/layui/layui.js" %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static "js/xadmin.js" %}"></script>
</head>

<body>
    <div class="x-body">
        <form class="layui-form" method="POST" action="/members/model/add">
          {% csrf_token %}
          <div class="layui-form-item">
              <label for="modelname" class="layui-form-label">
                  <span class="x-red">*</span>菜单名
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="model_name" name="model_name" required lay-verify="required"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
		  <div class="layui-form-item">
              <label for="model_url" class="layui-form-label">
                  <span class="x-red">*</span>url
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="model_url" name="model_url" required lay-verify="required"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
		  
		  
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="add" lay-submit="">
                  增加
              </button>
          </div>
           {{msg}}
      </form>
    </div>
  </body>

</html>
