{% extends 'backend/base.htm' %}
{% block title%}角色管理{%endblock%}


{% block body %}
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a>
          <cite>角色管理</cite></a>
      </span>
      <a class="layui-btn layui-btn-primary layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:38px">ဂ</i></a>
    </div>
    <div class="x-body">
      <xblock>
        <button class="layui-btn" onclick="x_admin_show('添加角色','/members/role/add')"><i class="layui-icon"></i>添加</button>
        <span class="x-right" style="line-height:40px">共有数据：{{roleinfo.total.id__count}} 条</span>
      </xblock>
      <table class="layui-table">
        <thead>
            <tr>
            <th>ID</th>
            <th>角色名</th>
			<th>控制模块</th>
			<th>描述</th>
            <th>操作</th>
		   </tr>
        </thead>
		{% for role in role_list %}
        <tbody>		
          <tr>  
            <td>{{role.id}}</td>
            <td>{{role.role_name}}</td>
			<td>{{role.model__model_name}}</td>
            <td>{{role.role_describe}}</td> 
             <td class="td-manage"> 
			    <a title="修改" onclick="x_admin_show('编辑角色','/members/role/edit?id={{role.id}}')" href="javascript:;">
                    <i class="layui-icon">&#xe642;</i>
                </a>
                <a href="/members/role/delete?id={{role.id}}"><i class="layui-icon">&#xe640;</i></a>
            </td>
          </tr>		
        </tbody>
		{% endfor %}
      </table>
	  
      <div class="page">
        <div>
          <a class="prev" href="">&lt;&lt;</a>
          <span class="current" href="">1</span>
          <a class="num" href="">2</a>
          <a class="num" href="">3</a>
          <a class="num" href="">489</a>
          <a class="next" href="">&gt;&gt;</a>
        </div>
      </div>

    </div>
{%endblock%}
